@import "./helpers/variables";
@import "./helpers/mixin";
@import "./responsive";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}
